.formAuth {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.form-control {
    width: 280px;
    height: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

.buttonForm {
    width: 100%;
    height: 40px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.buttonForm:hover {
    background-color: #444;
}

.forms {
    text-align: center;
}

.title {
    margin-bottom: 40px;
}

.mistake {
    text-align: right;
    font-size: 13px;
    padding-top: 10px;
    color: #5e5e5e;
    margin: 0;
}

.mistake a {
    color: #167bff;
}