.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}

.task-progress {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.progress-text {
    margin-right: 20px;
    margin-top: 10%;
}

.progress-circle {
    display: inline-block;
    width: 130px;
    height: 120px;
    font-size: 40px;
    line-height: 120px;
    text-align: center;
    border-radius: 150%;
    background-color: #00bfff;
    color: #fff;
    padding: 0;
}
.exit {
    text-decoration: none;
    font-weight: bold;
    color: #00bfff;
    margin-right: 20px;
    margin-left: auto;
}